* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*************************** HEADER *********************/

header {
  display: flex;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  width: auto;
  flex-grow: 1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.header-text {
  display: none;
}

.header-text2 {
  display: flex;
}

.header-text,
.header-text2 {
  font-size: 2.5rem;
  font-weight: 999;
  margin-left: auto;
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links li {
  margin: 0 25px;
}

.menu-icon {
  display: none;
}

@media (max-width: 895px) {
  .navbar {
    padding: 20px 20px;
    border-bottom-right-radius: 5px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1rem;
    background-color: rgb(181, 181, 181);
    width: 45%;
    z-index: 100;
  }

  .header-text {
    display: flex;
    font-size: 1.25rem;
  }

  .nav-links.show {
    display: flex;
  }

  .header-text2 {
    display: none;
  }

  .nav-links li:first-child {
    margin-top: 50px;
  }

  .nav-links li:last-child {
    border-bottom: none;
  }

  .nav-links li {
    margin: 0px 15px;
    padding: 50px 0px;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: 999;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.5px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease;
    z-index: 1000;
  }

  .menu-icon:hover {
    height: 20px;
  }

  .bar {
    height: 2.5px;
    background-color: black;
    border-radius: 2.5px;
  }
}

/*************************** MAIN - Index *********************/

.main_container {
  margin: 325px 150px 0px 150px;
}

.main_container h2 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.category_list_container a {
  text-decoration: none;
}

.card {
  background-color: grey;
  color: white;
  padding: 50px 0px 50px 25px;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: 0.3s ease;
}

.card:hover {
  background-color: black;
  transform: scale(1.05);
}

@media (max-width: 895px) {
  .main_container {
    margin: 300px 45px 0px 45px;
  }

  .main_container h2 {
    font-size: 1.5rem;
  }

  .category_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .card {
    padding: 30px 0px 30px 15px;
    font-size: 1rem;
  }
}

/*************************** MAIN - Produktliste*********************/

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin-top: 200px;
}

.product_list_container a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

.card_productlist {
  position: relative;
  width: 350px;
  height: 466.5px;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-bottom: 225px;
}

.card_productlist img {
  position: absolute;
  top: 0;
  left: 0;
}

.nedsat {
  position: absolute;
  margin-top: 585px;
  right: 0;
  background-color: red;
  padding: 10px;
}

.udsolgt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.523);
  z-index: 1;
}

.udsolgt h1 {
  position: absolute;
  background-color: grey;
  font-size: 1.25rem;
  padding: 25px 35px;
  font-weight: 300;
  color: white;
}

.display_name {
  position: absolute;
  margin-top: 500px;
  font-weight: 999;
  padding-left: 10px;
  border-radius: 2.5px;
}

.article_type {
  position: absolute;
  margin-top: 550px;
  padding-left: 10px;
  color: lightgrey;
}

.price {
  position: absolute;
  margin-top: 585px;
  padding-left: 10px;
}

@media (max-width: 1550px) {
  .product_list_container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card_productlist {
    margin-bottom: 200px;
  }
}

@media (max-width: 1175px) {
  .product_list_container {
    grid-template-columns: 1fr 1fr;
  }

  .card_productlist {
    margin-bottom: 150px;
  }
}

@media (max-width: 895px) {
  .product_list_main {
    margin: 100px 35px;
  }
}

@media (max-width: 775px) {
  .product_list_container {
    grid-template-columns: 1fr;
  }

  .card_productlist {
    margin-bottom: 100px;
  }
}

/*************************** MAIN - Produkt*********************/

.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 50px;
  margin: 175px 125px;
}

.product_display img {
  transition: 0.3s ease;
}

.product_display img:hover {
  transform: scale(1.1);
}

.product_information {
  margin-top: 125px;
  z-index: 500;
}

.product_information h1 {
  font-size: 3rem;
  font-weight: 999;
  margin-bottom: 30px;
}

.product_information h3 {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.product_information p {
  margin-bottom: 20px;
  margin-left: 25px;
}

.product_information h2 {
  margin-top: 50px;
  font-size: 3.5rem;
  font-weight: 999;
}

.buy_section {
  position: relative;
  margin-top: 125px;
  background-color: lightgrey;
  color: white;
  padding: 50px 20px 0px 20px;
  height: 550px;
}

.buy_section h1 {
  position: absolute;
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.buy_section p {
  position: absolute;
  padding-top: 275px;
  padding-bottom: 50px;
}

.buy_section h3 {
  position: absolute;
  padding-top: 335px;
}

.size_button {
  position: absolute;
  background-color: rgb(243, 243, 243);
  right: 0;
  letter-spacing: 5px;
  font-weight: 999;
  margin: 335px 30px 0px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

.buy_button {
  position: absolute;
  background-color: rgb(243, 243, 243);
  font-weight: 999;
  margin: 400px 40px 30px 20px;
  padding: 5px 40px;
  border-radius: 5px;
  color: black;
}

@media (max-width: 1480px) {
  .product_container {
    grid-template-columns: 1fr 0.5fr;
    margin: 175px 50px;
  }

  .product_information {
    order: 1;
    grid-column: span 2;
    margin-top: 100px;
    margin-left: 150px;
  }

  .buy_section {
    grid-row: span 2;
    height: 600px;
    padding: 50px 60px 0px 60px;
  }

  .product_display {
    position: relative;
    height: 700px;
    width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .product_container {
    gap: 30px;
    margin: 175px 30px;
  }

  .product_display {
    height: 550px;
    width: 450px;
  }

  .product_information {
    margin-left: 75px;
  }

  .product_information h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .product_information h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .product_information p {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .product_information h2 {
    margin-top: 35px;
    font-size: 2.75rem;
  }

  .buy_section {
    margin-top: 100px;
    padding: 35px 10px 0px 10px;
    height: 450px;
  }

  .buy_section h1 {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .buy_section p {
    padding-top: 235px;
    padding-bottom: 35px;
  }

  .buy_section h3 {
    padding-top: 275px;
  }

  .size_button {
    letter-spacing: 2.5px;
    margin: 275px 20px 0px 0px;
    padding: 3.5px 7.5px;
  }

  .buy_button {
    margin: 325px 30px 20px 10px;
    padding: 3.5px 30px;
    border-radius: 5px;
  }
}

@media (max-width: 780px) {
  .product_container {
    grid-template-columns: 1fr;
  }

  .product_display {
    height: 450px;
    width: 350px;
  }

  .product_information {
    margin: 50px auto 0px auto;
    order: 0;
  }

  .buy_section {
    margin: 50px 25px 0px 25px;
    padding: 35px 30px 0px 30px;
    height: 400px;
  }

  .buy_section p {
    padding-top: 150px;
  }

  .buy_section h3 {
    padding-top: 200px;
  }

  .size_button {
    letter-spacing: 2.5px;
    margin: 200px 50px 0px 0px;
    padding: 3.5px 7.5px;
  }

  .buy_button {
    margin: 275px auto;
    padding: 3.5px 15px;
    border-radius: 5px;
  }
}
