* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "Oswald", serif;
  background-color: #2a2b2a;
}

/*********************************************** HEADER *********************************************/

header {
  display: flex;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-grow: 1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #c2c1c2;
  transition: 0.3s ease;
}

.header-text,
.header-text2 {
  font-size: 2.5rem;
  font-weight: 999;
  margin-left: auto;
  color: #c2c1c2;
  letter-spacing: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-text {
  display: none;
  letter-spacing: 0px;
}
.header-text2 {
  display: flex;
}

.menu-icon {
  display: none;
}

@media (max-width: 950px) {
  .navbar {
    padding: 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: #c2c1c2;
    width: 40%;
    z-index: 100;
    font-size: 1.15rem;
    border-radius: 10px;
  }

  .header-text {
    display: flex;
    font-size: 1.25rem;
  }
  .header-text2 {
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 0 15px;
    padding: 50px 0;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: 999;
  }

  .nav-links li:first-child {
    margin-top: 25px;
  }
  .nav-links li:last-child {
    border-bottom: none;
  }
  .nav-links li a {
    color: #2a2b2a;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.5px;
    height: 15px;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
    align-self: center;
  }

  .menu-icon:hover {
    height: 20px;
  }

  .bar {
    height: 2.5px;
    background-color: #c2c1c2;
    border-radius: 2.5px;
  }
}

/************************************************** MAIN - Index ****************************************/

.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 350px 10%;
  gap: 7.5%;
  font-weight: 999;
}

.category_list_container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card {
  color: #8d99ae;
  padding: 20%;
  letter-spacing: 7.5px;
  border-radius: 10px;
  font-size: 1.25rem;
  transition: 0.3s;
}

.card:hover {
  background-color: #c2c1c2;
  transform: scale(1.05);
}

@media (max-width: 950px) {
  .category_list_container {
    grid-template-columns: 1fr 1fr;
    margin: 200px 7.5%;
    gap: 5%;
  }

  .card {
    font-size: 1rem;
    letter-spacing: 5px;
  }
}

/*********************************************** MAIN - Produktliste *****************''*********************/

.product_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
  margin: 200px 10%;
  justify-content: center;
  align-items: center;
}

.card_productlist {
  position: relative;
  width: 325px;
  height: 425px;
  margin: 125px auto;
}

.card_productlist img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  border-radius: 15px;
}

.card_productlist img:hover {
  transform: scale(1.05);
}

.nedsat,
.udsolgt {
  position: absolute;
  z-index: 999;
}

.nedsat {
  right: 0;
  bottom: 0;
  margin-right: 2.5%;
  background-color: red;
  border-radius: 4px;
  padding: 5%;
  color: white;
  font-weight: 700;
}

.udsolgt {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.523);
  border-radius: 15px;
}

.udsolgt h1 {
  position: absolute;
  background-color: grey;
  font-size: 1.25rem;
  padding: 30px 40px;
  border-bottom-right-radius: 5px;
  font-weight: 999;
  color: white;
}

.display_name,
.article_type,
.price,
.discount_price {
  position: absolute;
  left: 0;
  top: 0;
  color: #c2c1c2;
  font-weight: 999;
}

.display_name {
  margin-top: 465px;
}

.article_type {
  margin-top: 515px;
}

.price {
  margin-top: 575px;
}

.discount_price {
  margin-top: 625px;
  color: red;
}

@media (max-width: 1550px) {
  .product_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1175px) {
  .product_list_container {
    grid-template-columns: repeat(2, 1fr);
    margin: 200px 175px;
    gap: 45px;
  }

  .card_productlist {
    margin: 25px auto 225px auto;
  }
}

@media (max-width: 750px) {
  .product_list_container {
    grid-template-columns: 1fr;
  }
}

/************************************************************************ MAIN - Produkt***************************************************************************/

.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin: 17.5% 7.5%;
}

.product_display,
.product_information,
.buy_section {
  position: relative;
}

.product_display img {
  transition: 0.3s ease;
  border-radius: 20px;
}

.product_display img:hover {
  transform: scale(1.1);
}

.nedsat_produkt {
  position: absolute;
  right: 0;
  background-color: red;
  padding: 3.5%;
  margin: 2.5% 2.5%;
  border-radius: 5px;
  font-size: 1.25rem;
  color: white;
  z-index: 999;
}

.category_type {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 999;
  margin-top: 5%;
  color: white;
}

.article_type_product {
  font-weight: 999;
  position: absolute;
  font-size: 1.5rem;
  margin-top: 35%;
  color: white;
}

.color {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 65%;
  color: white;
  font-weight: 999;
}

.brand_info {
  position: absolute;
  font-size: 2rem;
  margin-top: 105%;
  font-weight: 999;
  color: white;
}

.product_container p {
  font-size: 1rem;
  color: white;
}

.buy_section {
  position: relative;
  background-color: lightgrey;
  color: white;
  padding: 10% 10%;
  border-radius: 20px;
}

.buysection_display_name {
  position: absolute;
  font-weight: 999;
  font-size: 2rem;
  color: white;
}

.price_product {
  position: absolute;
  margin-top: 35%;
  font-weight: 999;
  font-size: 1.5rem;
}

.discount_price_product {
  position: absolute;
  margin-top: 50%;
  font-weight: 999;
  color: red;
  font-size: 1.5rem;
}

.size-dropdown-container {
  margin-top: 70%;
  position: absolute;
  text-align: center;
  border-radius: 8px;
}

label {
  font-size: 1.25rem;
  font-weight: 999;
  margin-bottom: 10px;
  display: block;
}

.size-select {
  font-size: 1rem;
  font-weight: 999;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #2a2b2a;
  background-color: #2a2b2a;
  color: white;
}

.add-to-basket-button {
  font-size: 1rem;
  font-weight: 650;
  padding: 4%;
  margin-top: 135%;
  width: 100%;
  border-radius: 10px;
  background-color: #2a2b2a;
  letter-spacing: 7.5px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.add-to-basket-button:hover {
  background-color: #141414;
  transform: scale(1.05);
}

@media (max-width: 1500px) {
  .product_container {
    grid-template-columns: 1fr 1fr;
    margin: 20% 12.5%;
  }

  .product_information {
    order: 1;
  }

  .buy_section {
    padding: 7.5% 7.5%;
  }

  .buysection_display_name {
    font-size: 1.75rem;
  }

  .price_product {
    font-size: 1.25rem;
  }

  .discount_price_product {
    font-size: 1.25rem;
  }

  label {
    font-size: 1rem;
  }

  .size-select {
    font-size: 0.75rem;
  }

  .add-to-basket-button {
    margin-top: 125%;
  }

  .category_type {
    font-size: 1.25rem;
    margin-top: 20px;
  }

  .article_type_product {
    font-size: 1.25rem;
    margin-top: 120px;
  }

  .color {
    font-size: 1.25rem;
    margin-top: 220px;
  }

  .brand_info {
    font-size: 1.75rem;
    margin-top: 325px;
  }

  .product_container p {
    font-size: 0.75rem;
  }
}

@media (max-width: 1200px) {
  .product_container {
    margin: 25% 7.5%;
  }
}

@media (max-width: 950px) {
  .product_container {
    margin: 20% 5%;
  }
}

@media (max-width: 780px) {
  .product_container {
    grid-template-columns: 1fr;
    margin: 25% 15%;
    gap: 20px;
  }

  .product_information {
    margin: 0px 0px;
    order: 0;
  }

  .category_type {
    margin-top: 10px;
    font-size: 1rem;
  }

  .article_type_product {
    margin-top: 90px;
    font-size: 1rem;
  }

  .color {
    margin-top: 170px;
    font-size: 1rem;
  }

  .brand_info {
    margin-top: 270px;
    font-size: 1.25rem;
  }

  .buy_section {
    margin: 365px 0px;
    padding: 20px 20px;
  }
}
